@import url('https://fonts.googleapis.com/css?family=Google+Sans&display=swap');
@import url('https://fonts.cdnfonts.com/css/google-sans');

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7001_4318 {
  width: 100%;
  height: 2242px;
  background: rgba(248,250,252,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11025_42415 {
  width: 100%;
  height: 597px;
  background: rgba(241,245,249,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11025_42588 {
  width: 822px;
  height: 314px;
  background: url('/images/v11025_42588.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 80px;
  overflow: hidden;
}
.v11025_42442 {
  width: 822px;
  height: 194px;
  background: url('/images/v11025_42442.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11025_42423 {
  width: 770px;
  color: url('/images/v11025_42423.png');
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v11025_42441 {
  width: 816px;
  color: rgba(100,116,139,1);
  position: absolute;
  top: 140px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11025_42587 {
  width: 746px;
  height: 60px;
  background: url('/images/v11025_42587.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 0px;
  overflow: hidden;
}
.v11025_42573 {
  width: 550px;
  height: 60px;
  background: url('/images/v11025_42573.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11025_42586 {
  width: 550px;
  height: 60px;
  background: linear-gradient(rgba(255,255,255,1), rgba(249,249,249,1));
  padding: 11px 14px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v11025_42585 {
  width: 521px;
  height: 38px;
  background: url('/images/v11025_42585.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 91px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  overflow: hidden;
}
.v11025_42446 {
  width: 304px;
  height: 27px;
  background: url('/images/v11025_42446.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11025_42444 {
  width: 272px;
  color: rgba(148,163,184,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v11025_42440 {
  width: 172px;
  height: 60px;
  background: url('/images/v11025_42440.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 574px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11025_42576 {
  width: 520px;
  height: 499px;
  background: url('/images/v11025_42576.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 943px;
  overflow: hidden;
}
.v11025_42476 {
  width: 219px;
  height: 133px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 294px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11021_42390 {
  width: 219px;
  height: 133px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11025_42548 {
  width: 219px;
  height: 133px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 294px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11025_42497 {
  width: 235px;
  height: 133px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11025_42504 {
  width: 235px;
  height: 133px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 285px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11025_42550 {
  width: 219px;
  height: 133px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 332px;
  left: 34px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42893 {
  width: 100%;
  height: 334px;
  background: url('/images/v11031_42893.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 789px;
  left: 80px;
  overflow: hidden;
}
.v11031_42892 {
  width: 100%;
  height: 40px;
  background: url('/images/v11031_42892.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 645px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11031_42758 {
  width: 509px;
  color: rgba(15,23,42,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v11031_42891 {
  width: 93px;
  height: 40px;
  background: url('/images/v11031_42891.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 13px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1187px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11031_42816 {
  width: 100%;
  height: 270px;
  background: url('/images/v11031_42816.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 46px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v11031_42799 {
  width: 219px;
  height: 270px;
  background: url('/images/v11031_42799.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11031_42759 {
  width: 219px;
  height: 270px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42774 {
  width: 219px;
  height: 76px;
  background: linear-gradient(rgba(13,13,13,0), rgba(13,13,13,1));
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42782 {
  width: 91px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 62px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v11031_42800 {
  width: 219px;
  height: 270px;
  background: url('/images/v11031_42800.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 265px;
  overflow: hidden;
}
.v11031_42801 {
  width: 219px;
  height: 270px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42803 {
  width: 219px;
  height: 76px;
  background: linear-gradient(rgba(13,13,13,0), rgba(13,13,13,1));
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42805 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 39px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v11031_42817 {
  width: 219px;
  height: 270px;
  background: url('/images/v11031_42817.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 530px;
  overflow: hidden;
}
.v11031_42818 {
  width: 219px;
  height: 270px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42820 {
  width: 219px;
  height: 76px;
  background: linear-gradient(rgba(13,13,13,0), rgba(13,13,13,1));
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42822 {
  width: 91px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 61px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v11031_42834 {
  width: 219px;
  height: 270px;
  background: url('/images/v11031_42834.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 795px;
  overflow: hidden;
}
.v11031_42835 {
  width: 219px;
  height: 270px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42837 {
  width: 219px;
  height: 76px;
  background: linear-gradient(rgba(13,13,13,0), rgba(13,13,13,1));
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42839 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 73px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v11031_42851 {
  width: 219px;
  height: 270px;
  background: url('/images/v11031_42851.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1060px;
  overflow: hidden;
}
.v11031_42852 {
  width: 219px;
  height: 270px;
  background: rgba(255,255,255,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42854 {
  width: 219px;
  height: 76px;
  background: linear-gradient(rgba(13,13,13,0), rgba(13,13,13,1));
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42856 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 27px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v11031_43704 {
  width: 100%;
  height: 604px;
  background: url('/images/v11031_43704.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1173px;
  left: 0px;
  overflow: hidden;
}
.v11031_42900 {
  width: 100%;
  height: 604px;
  background: rgba(241,245,249,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_43332 {
  width: 43px;
  height: 216px;
  background: url('/images/v11031_43332.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 462px;
  left: 80px;
  overflow: hidden;
}
.v11031_43703 {
  width: 100%;
  height: 504px;
  background: url('/images/v11031_43703.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  overflow: hidden;
}
.v11031_42958 {
  width: 100%;
  height: 61px;
  background: url('/images/v11031_42958.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 74px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}
.v11031_42933 {
  width: 633px;
  height: 61px;
  background: url('/images/v11031_42933.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11031_42911 {
  width: 247px;
  height: 25px;
  background: url('/images/v11031_42911.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42910 {
  width: 217px;
  color: rgba(255,82,0,1);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v11031_42914 {
  width: 633px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_42934 {
  width: 573px;
  height: 61px;
  background: url('/images/v11031_42934.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 707px;
  overflow: hidden;
}
.v11031_42935 {
  width: 283px;
  height: 25px;
  background: url('/images/v11031_42935.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_42937 {
  width: 253px;
  color: rgba(255,82,0,1);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v11031_42938 {
  width: 573px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v11031_43702 {
  width: 100%;
  height: 353px;
  background: url('/images/v11031_43702.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 78px;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 80px;
  overflow: hidden;
}
.v11031_43701 {
  width: 529px;
  height: 272px;
  background: url('/images/v11031_43701.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11031_43490 {
  width: 529px;
  height: 128px;
  background: url('/images/v11031_43490.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11031_43638 {
  width: 430px;
  height: 32px;
  background: url('/images/v11031_43638.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11031_43675 {
  width: 427px;
  height: 32px;
  background: url('/images/v11031_43675.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11031_43700 {
  width: 294px;
  height: 32px;
  background: url('/images/v11031_43700.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11031_43589 {
  width: 673px;
  height: 353px;
  background: url('/images/v11031_43589.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 607px;
  overflow: hidden;
}
.v11031_43314 {
  width: 673px;
  color: rgba(15,23,42,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v11031_43389 {
  width: 673px;
  height: 312px;
  background: url('/images/v11031_43389.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 89px;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.v11031_43353 {
  width: 65px;
  height: 312px;
  background: url('/images/v11031_43353.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11031_43328 {
  width: 65px;
  height: 24px;
  background: url('/images/v11031_43328.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_43315 {
  width: 35px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 1px;
  left: 28px;
  font-family: Google Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43329 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43331 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43333 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 112px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43335 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 148px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43337 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 184px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43339 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 220px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43341 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 256px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43343 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 292px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43354 {
  width: 90px;
  height: 276px;
  background: url('/images/v11031_43354.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 154px;
  overflow: hidden;
}
.v11031_43355 {
  width: 90px;
  height: 24px;
  background: url('/images/v11031_43355.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_43357 {
  width: 54px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 1px;
  left: 28px;
  font-family: Google Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43358 {
  width: 90px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43359 {
  width: 90px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43360 {
  width: 90px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 112px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43361 {
  width: 90px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 148px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43362 {
  width: 90px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 184px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43363 {
  width: 90px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 220px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43364 {
  width: 90px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 256px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43367 {
  width: 117px;
  height: 204px;
  background: url('/images/v11031_43367.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 333px;
  overflow: hidden;
}
.v11031_43368 {
  width: 117px;
  height: 24px;
  background: url('/images/v11031_43368.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_43370 {
  width: 80px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 1px;
  left: 28px;
  font-family: Google Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43371 {
  width: 117px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43372 {
  width: 117px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43373 {
  width: 117px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 112px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43374 {
  width: 117px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 148px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43375 {
  width: 117px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 184px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43379 {
  width: 134px;
  height: 96px;
  background: url('/images/v11031_43379.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 539px;
  overflow: hidden;
}
.v11031_43380 {
  width: 134px;
  height: 24px;
  background: url('/images/v11031_43380.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_43382 {
  width: 94px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 1px;
  left: 28px;
  font-family: Google Sans;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43383 {
  width: 134px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43384 {
  width: 134px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11120_49031 {
  width: 100%;
  height: 415px;
  background: url('/images/v11120_49031.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1827px;
  left: 0px;
  overflow: hidden;
}
.v11031_43928 {
  width: 100%;
  height: 93px;
  background: url('/images/v11031_43928.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15px 80px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 0px;
  overflow: hidden;
}
.v11031_43759 {
  width: 100%;
  height: 93px;
  background: rgba(241,245,249,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_43761 {
  width: 43px;
  height: 216px;
  background: url('/images/v11031_43761.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 462px;
  left: 80px;
  overflow: hidden;
}
.v11031_43927 {
  width: 100%;
  height: 63px;
  background: url('/images/v11031_43927.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 857px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 80px;
  overflow: hidden;
}
.v11031_43912 {
  width: 339px;
  height: 63px;
  background: url('/images/v11031_43912.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11031_43926 {
  width: 84px;
  height: 32px;
  background: url('/images/v11031_43926.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1196px;
  overflow: hidden;
}
.v11031_43924 {
  width: 32px;
  height: 32px;
  background: rgba(15,23,42,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v11031_43918 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 52px;
  overflow: hidden;
}
.v11031_43919 {
  width: 32px;
  height: 32px;
  background: url('/images/v11031_43919.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v11031_43920 {
  width: 32px;
  height: 32px;
  background: url('/images/v11031_43920.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11031_43921 {
  width: 32px;
  height: 32px;
  background: rgba(15,23,42,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v11031_43757 {
  width: 100%;
  height: 272px;
  background: url('/images/v11031_43757.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 204px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11031_43756 {
  width: 681px;
  height: 272px;
  background: url('/images/v11031_43756.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 146px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 360px;
  overflow: hidden;
}
.v11031_43752 {
  width: 65px;
  height: 272px;
  background: url('/images/v11031_43752.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11031_43714 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43715 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43716 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43717 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 108px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43718 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43719 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 180px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43720 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 216px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43721 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 252px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43753 {
  width: 65px;
  height: 236px;
  background: url('/images/v11031_43753.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 211px;
  overflow: hidden;
}
.v11031_43726 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43727 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43728 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43729 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 108px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43730 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43731 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 180px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43732 {
  width: 65px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 216px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43754 {
  width: 56px;
  height: 164px;
  background: url('/images/v11031_43754.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 422px;
  overflow: hidden;
}
.v11031_43737 {
  width: 56px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43738 {
  width: 56px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43739 {
  width: 56px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43740 {
  width: 56px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 108px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43741 {
  width: 56px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 144px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43755 {
  width: 57px;
  height: 56px;
  background: url('/images/v11031_43755.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 624px;
  overflow: hidden;
}
.v11031_43746 {
  width: 57px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11031_43747 {
  width: 57px;
  color: rgba(15,23,42,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v11159_51410 {
  width: 100%;
  height: 142px;
  background: url('/images/v11159_51410.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11159_51411 {
  width: 100%;
  height: 57px;
  background: rgba(255,82,0,1);
  padding: 29px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11159_51412 {
  width: 358px;
  height: 25px;
  background: url('/images/v11159_51412.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 541px;
  overflow: hidden;
}
.v11159_51413 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11159_51414 {
  width: 18px;
  height: 20px;
  background: url('/images/v11159_51414.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v11159_51415 {
  width: 18px;
  height: 20px;
  background: url('/images/v11159_51415.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11159_51416 {
  width: 18px;
  height: 20px;
  background: url('/images/v11159_51416.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11159_51417 {
  width: 8px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
}
.v11159_51418 {
  width: 8px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 5px;
}
.v11159_51419 {
  width: 18px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v11159_51420 {
  width: 326px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Google Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v11159_51422 {
  width: 100%;
  height: 85px;
  background: rgba(255,255,255,1);
  padding: 16px 80px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  box-shadow: 0px 1px 2px rgba(0.05882352963089943, 0.09019608050584793, 0.16470588743686676, 0.10000000149011612);
  overflow: hidden;
}
.v11159_51423 {
  width: 100%;
  height: 48px;
  background: url('/images/v11159_51423.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 846px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 80px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11159_51425 {
  width: 278px;
  height: 48px;
  background: url('/images/v11159_51425.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1002px;
  overflow: hidden;
}
.v11159_51426 {
  width: 206px;
  height: 48px;
  background: url('/images/v11159_51426.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11159_51429 {
  width: 48px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 13px 20px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 230px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11159_51431 {
  width: 25px;
  height: 26px;
  background: url('/images/v11159_51431.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}


/*Additional CSS*/

/* CSS for the suggestions list */
.suggestions-list {
  position: absolute;
  width: 100%;
  max-height: 200px; /* Limit height and enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  background: white; /* White background */
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  z-index: 1000; /* Ensure it appears above other elements */
  margin-top: 8px; /* Add some spacing from the input */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove bullet points */
}

/* Style for each suggestion item */
.suggestions-list li {
  padding: 10px 16px; /* Add padding */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background 0.2s ease; /* Smooth background transition */
}

/* Hover effect for suggestion items */
.suggestions-list li:hover {
  background: #f5f5f5; /* Light gray background on hover */
}

/* Ensure the input and suggestions list are properly aligned */
.e-search-input-wrapper {
  position: relative; /* Ensure suggestions list is positioned relative to the input */
}


/* Fullscreen Overlay */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

/* Loader Content */
.loader-content {
  text-align: center;
}

.loader-content p {
  margin-top: 16px;
  font-size: 18px;
  color: #333;
}


/* CSS for the menu items */

.item-image img {
  width: 111px; /* Fixed width */
  height: 111px; /* Fixed height */
  border-radius: 10px;
  object-fit: cover;
}

.menu-grid {
  display: inline-block;
  gap: 20px;
}

.custom-tab {
  font-size: 16px;
}

.ant-tabs-tab-btn {
  color: #64748B !important;
  font-size: 16px;
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 16px;
  font-weight: 500;
  color: #F55204 !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn:hover {
  color: #F55204 !important;
}

.ant-tabs-nav {
  margin-top: -2rem !important;
}
.ant-tabs .ant-tabs-ink-bar {
  background-color: #F55204 !important;
  height: 5px !important;
  border-radius: 50px !important;
}

.ant-tabs .ant-tabs-tab {
  align-items: end;
}


.location_slider .slick-slider .slick-slide {
    margin: 0px !important;
}

.near-me {
  margin-left: 2px;
}

/*Typing Anmiation*/

@keyframes jump {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
    opacity: 0.6;
  }
}

.rating-text {
  font-size: 16px;
}

.ant-modal-content {
  padding: 0px !important;
  width: 450px;
  margin-top: 7rem;
  margin-left: -2rem;
}

.ant-modal-close {
  background-color: #0F182A !important;
  color: #FFFFFF !important;
  border-radius: 10px !important;
  margin-top: 1rem;
  margin-right: 0.3rem;
}

.ant-modal-close-x {
  font-size: 12px !important;
}